.all-hud {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: .8vh;
    max-width: 40vh;
    bottom: 0.2vw;
    left: 2vw;
}

.all-hud .hud-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: .6vh;
    padding-bottom: 5px;
    height: 1.1vw;
    width: 1.7vw;
	background: rgb(17, 24, 34);
	border: .5px solid rgba(0, 0, 0, 0.253);
	border-radius: 5px;
    box-shadow: 0 0 .8vh black;
    overflow: visible;
}

.hud-box svg {
    position: absolute;
    top: -40%;
    align-items: center;
    justify-content: end;
}

.hud-box .progg {
    width: 70%;
    height: 0.26vw;
    background: rgba(255, 255, 255, 0.068);
}

.progg .progin {
    width: 0%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 .35vh rgb(255, 255, 255);
    transition: width .25s ease-in-out;
}
